body{margin: 0;padding: 0;font-family: arial,sans-serif;}
.header{background: #eeeeee;height: 50px;border-bottom: 1px solid #cccccc;border-top: 2px solid #326693;}
.header-content,.main{width: 960px;margin: 0 auto;}
.main{margin-top: 20px;min-height: 500px;}
.logo{font-size: 18px;font-weight: bold;float: left;margin-top: 15px;color: #326693;}
.nav{list-style: none;float: left;}
.nav li{float: left;margin-left: 20px;}
.title{font-size: 20px;font-weight: normal;}
a{text-decoration: none;color: #326693;}
.main-header{margin-top: 30px;padding-bottom: 25px;border-bottom: 1px solid #cccccc; }
.top-ad{float: left;}
.bottom-ad{margin-bottom: 20px;padding-top: 20px;border-top: 1px solid #cccccc;}
.action-links{float: right;}
.action-links-bottom{float:none;text-align:center;margin-top: 20px;}
.action-links a{background: #eeeeee;padding: 5px;font-weight: bold;font-size: 16px;border: 1px solid #cccccc;}
.action-links a:hover{color: #555555;}
.clear{clear: both;}
.footer{margin-bottom: 20px;}
.footer-content{padding-top: 20px;width: 960px;margin: 0 auto;border-top: 1px solid #cccccc;color: #777777;}
.content{margin: 20px 0;}